<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Dashboard </title>  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
<style>
    body{
        background-image:url("https://images.unsplash.com/photo-1501471984908-815b996862f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
    }
    h1{
        color: rgb(212, 118, 30);
        font-family: 'Irish Grover', cursive;
    }
p{
    color: white;
    font-size:larger;
    padding: 15px;
}    
    
    .btn {
            display: inline-block;
            background: linear-gradient(45deg, #a84fdb, #473bac);
            border-radius: 10px;
            text-decoration: none;
            box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
            color: wheat;
            width: 150px;
            height: 44px;
            margin-top: 17%;
            margin-left: 40%;
    }
    a{
        font-size: 30px;
        margin-top: 30%;
        margin-left: 40%;
        text-decoration: none;
        color: orange;
        font-size: xx-large;
    }
</style>
</head>    
<body>    

    <center> <h1> Welcome to our Dashboard </h1> </center> 
    <p>V-Mart is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in
         Singapore as a private limited company. The company initially focused on online book sales before 
         expanding into other product categories such as consumer electronics, fashion, home essentials, groceries,
          and lifestyle products.
        The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal.
         As of March 2017, V-Mart held a 39.5% market share of India's e-commerce industry.
          V-Mart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra,
           and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.
            V-Mart also owns PhonePe, a mobile payments service based on the UPI.</p> 
    <a href="https://vikas2425.github.io/shopping/">click here for shopping </a>

    <form action='/logout' method="POST">  
        <button class="btn" type="submit">Logout</button>     
    </form>     
</body>     
</html> 