<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-mart</title>
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 10px;
            height: 100vh;
            width: 100vw;
        }

        p {
            font-size: x-large;
        }

        h1 {
            font-size: 40px;
        }

        a {
            font-size: xx-large;
            font-weight: bold;
            text-decoration: none;
            color: #333;
            content: icon;
            padding: 20px;
            margin: 30px;
            width: 200px;
        }

        .btn {
            display: inline-block;
            background: linear-gradient(45deg, #a84fdb, #473bac);
            border-radius: 10px;
            text-decoration: none;
            box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
            color: wheat;
        }
    </style>
</head>

<body>

    <div class="container">
        <!-- <img src="https://www.linkpicture.com/q/pic_9.png" alt="image"> -->
        <div class="card">
            <h1>Welcome to V-Mart Online Shopping </h1>
            <p>Login to access your V-Mart shopping account</p>
            <a href="/register" class="btn">Register</a>
            <a href="/login" class="btn">Log In</a>
        </div>
    </div>
</body>
</html>